In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
db = pd.read_csv('diffData.csv')
db

     Sno        time  distance Diffusion
0      1  456.441718  0.006426       Dgb
1      2  598.773006  0.000728        Db
2      3  181.595092  0.000401        Db
3      4  265.030675  0.000484        Db
4      5  476.073620  0.006563       Dgb
..   ...         ...       ...       ...
975  976  149.693252  0.003680       Dgb
976  977  488.343558  0.000657        Db
977  978  354.601227  0.000560        Db
978  979  112.883436  0.003196       Dgb
979  980  418.404908  0.006153       Dgb

[980 rows x 4 columns]

In [32]:
X = db[['time', 'distance']]
Y = db['Diffusion']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

lr = LogisticRegression()
lr.fit(x_train, y_train)

y_pred = lr.predict(x_test)

conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print("Confusion Matrix:\n", conf_matrix)
print("\nClassification Report:\n", class_report)

Confusion Matrix:
 [[ 92   0]
 [102   2]]

Classification Report:
               precision    recall  f1-score   support

          Db       0.47      1.00      0.64        92
         Dgb       1.00      0.02      0.04       104

    accuracy                           0.48       196
   macro avg       0.74      0.51      0.34       196
weighted avg       0.75      0.48      0.32       196

In [33]:
newX=(X-X.mean(axis = 0))/(X.std(axis = 0))
newX

         time  distance
0    0.900915  1.469974
1    1.720571 -0.776442
2   -0.681869 -0.905320
3   -0.201381 -0.872450
4    1.013971  1.523879
..        ...       ...
975 -0.865585  0.387448
976  1.084631 -0.804240
977  0.314437 -0.842545
978 -1.077565  0.196515
979  0.681869  1.362125

[980 rows x 2 columns]

In [34]:
newx_train, newx_test, newy_train, newy_test = train_test_split(newX, Y, test_size=0.2, random_state=42)
lr.fit(newx_train, newy_train)
newy_pred = lr.predict(newx_test)

conf_matrix = confusion_matrix(newy_test, newy_pred)
class_report = classification_report(newy_test, newy_pred)

print("Confusion Matrix:\n", conf_matrix)
print("\nClassification Report:\n", class_report)

Confusion Matrix:
 [[ 92   0]
 [  0 104]]

Classification Report:
               precision    recall  f1-score   support

          Db       1.00      1.00      1.00        92
         Dgb       1.00      1.00      1.00       104

    accuracy                           1.00       196
   macro avg       1.00      1.00      1.00       196
weighted avg       1.00      1.00      1.00       196